$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;

.container {
  padding: 20px;
}

.col-xs-4 {
  height: 200px;
  border: 2px solid $black;
}
